#title {
  text-align: center;
  font-size: x-large;
  color:#2B3EA1;
  margin-top:400px;
}
.carte {
  display: inline-block;
}
figure {
  margin-left: 10px;
  margin-top: 20px;
  display: block;
  box-sizing: 50px;
}
.info {
  display: block;
  margin-left: 1200px;
  margin-top: -135px;
  margin-bottom: 100px;
  padding: -30px;
}
footer {
  background-color: #D3EFFF;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-style: normal;
}
p {
  color:#2B3EA1;
  margin-left: 70px;
  font-size: x-large;
}
h3 {
  color: #eba1ce;
  background-color: rgb(162, 230, 255);
  margin-top: 61px;
  margin-bottom: -61px;
  padding: 29px;
}
a:-webkit-any-link {
  cursor: pointer;
  margin-left: 118px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-left: 60px;
}