*{
    margin: 0;
    padding:0;
}

body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(background.gif);
    background-size: contain;
}

header{
    background-color:#C280FF;
    text-align: center;
}

header li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

header li:hover{
    background-color: #653f66;
}

#profil{
    height: 353px;
    margin:45px;
    border-radius: 2%;
    border: 2px solid black;
    box-shadow: 0 20px 25px;
}

#infos{
    margin: 70px 250px 60px 153px;
    padding:20px;
    border:2px solid black;
    color: black;
    background-color: #653f66;
    display: flex;
}

span{
    font-weight: bold;
}

#presentation{
    margin:10px;
    text-align: end;
}

.titre{
    font-weight: bold;
    font-size:30px;
    margin:5px;
}

#recommandations{
    background-color: #C280FF;
}

h2{
    margin:20px;
    padding:30px;
    font-size:30px;
    color:black;
}

main li{
    list-style: none;
}

.affiche{
    width:170px;
    margin:10px;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    text-align:center;
}

.carousel-item:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 0;
    margin:40px;
}

.carousel-item {
    margin-left:18px;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:black;
}

footer{
    background-color: #653f66;
    text-align: center;
    padding: 30px;
}