@import url(https://fonts.googleapis.com/css?family=Autour+One:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
text-align: center;
font-family:Autour one, Arial, sans-serif;

}

section{
    width: 90%;
    margin: auto;
}

H1{
    text-align:center;
    font-family:Autour one, Arial, sans-serif;
    color:#353a71;
    margin-top:150px;
}

main a:hover{
  color: #353a71;
}

.affiche{
    width:34%;
    float:left;
    margin:3px;
}



.carte{
  padding: 20px 20px 20px 20px;
  display: inline-block;
  background: #F1c5e0;
  border-radius: 3%;
  margin: 43px;
  width: 61%;
}

#à_venir{
  padding: 20px 20px 20px 20px;
  display: inline-block;
  background: #F1c5e0;
  border-radius: 3%;
  margin: 43PX;
  width: 57%;
}

.shirt{
  width:57%;
}

#merch{
  padding: 20px 20px 20px 20px;
  background: #F1c5e0;
  display: inline-block;
  border-radius: 3%;
  margin: 43px;
  width: 37%;
}