* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
  text-align: center;
  font-family:Autour one, Arial, sans-serif;
  text-decoration: none;
}

h1{
    padding: 20px 20px 20px 20px;
    color: #353a71;
    background: linear-gradient(0.25turn, #dad8ff, #f1c5e0, #dad8ff);
    margin-top:100px;
}

h2 {
    color: #353a71;
    font-size: 20px;
    width: 65%;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 70px;
}

.menubutton {
    background-color: #353a71;
    border-radius: 10%;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.menubutton:hover {
    background-color: #353a71;
    }
.deroulant {
    float:left;
}
.menu_lexique {
    display: none;
    background-color: #353a71;
    min-width: 20px;
}
.menu_lexique a {
    color: #F1C5E0;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.deroulant:hover .menu_lexique {
    display: block;
}

.menu_lexique a:hover{
    color:#D3EFFF;
    border: 1px solid white;
}

a{
  text-decoration: none;
}

.titre{
    font-weight: bold;
    color: #353a71;
}

.mot {
  display: inline-block;
  margin: 1%;
  border-radius: 100%;
  background:linear-gradient(#dad8ff, #ffffff);
  padding: 5% 4%;
}

p{
    margin:30px;
}