* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  text-align: center;
  font-family:Autour one, Arial, sans-serif;
  text-decoration: none;
}

h1{
    padding: 20px 20px 20px 20px;
    color: blue;
    background: linear-gradient(0.25turn, #dad8ff, #f1c5e0, #dad8ff);
    margin-top:100px;
}

h2{
    color: blue;
    font-size:15px;
    width:56%;
    display: inline-block;
    margin-top:10px;
    margin-bottom:70px;
  }

.menubutton {
    background-color: skyblue;
    border-radius: 10%;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.menubutton:hover {
    background-color: blue;
    }
.deroulant {
    position: relative;
    float:left;
}
.menu_lexique {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.menu_lexique a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.deroulant:hover .menu_lexique {
    display: block;
}

a{
  text-decoration: none;
}

.mot {
  display: inline-block;
  margin: 1%;
  border-radius: 100%;
  background:linear-gradient(#dad8ff, #ffffff);
  padding: 5% 4%;
}

p{
    margin:30px;
}