* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:Autour one, Arial, sans-serif;
    text-decoration: none;
}

h1{
    padding: 20px 20px 20px 20px;
    color: blue;
    background: linear-gradient(0.25turn, #dad8ff, #f1c5e0, #dad8ff);
}

h2{
    color: blue;
    font-size:15px;
    width:56%;
    display: inline-block;
    margin-top:10px;
    margin-bottom:20px;
  }

#logo{
    width:120px;
    padding:10px;
    float:left;
}

header li{
    display: inline-block;
  vertical-align: middle;
  width: 196px;
  font-weight: bold;
  padding: 37px;
}
header{
    background-color: #d3eFFF;
}

.menubutton {
    background-color: skyblue;
    border-radius: 10%;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.menubutton:hover {
    background-color: blue;
    }
.deroulant {
    position: relative;
    float:left;
}
.menu_lexique {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.menu_lexique a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.deroulant:hover .menu_lexique {
    display: block;
}

.mot {
  display: inline-block;
  margin: 1%;
  border-radius: 100%;
  background:linear-gradient(#dad8ff, #ffffff);
  padding: 5% 4%;
}

body,html{
    width:100%;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
    background:#d3efff;
  }
  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:linear-gradient(#ffffff, #f1c5e0);
    border-radius:50%;
    opacity:1;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:2%;
    animation-duration:5s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:8%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:5%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:-4%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:85%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:88%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:83%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:90%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:0%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }