*{
    text-decoration: none;
}

#logo{
    width:120px;
    padding:10px;
    float:left;
}

header li{
    display: inline-block;
  vertical-align: middle;
  width: 196px;
  font-weight: bold;
  padding: 21px;
}
header{
    background-color: #d3eFFF;
}

li a:hover{
    text-color:aqua;
    transition-duration: 0.5s;
}