@import url(https://fonts.googleapis.com/css?family=Autour+One:regular);

main p{
    margin : 220px;
    font-size: 20px;
    font-family: Autour One;
    color:#353a71;
}

span{
    font-weight: bold;
}