@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #2b2bd2;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  text-align: center;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

#line {
  width: 55%;
  margin-top: 15%;
  margin-bottom: 5%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient( 115deg, rgba(0, 111, 145, 0.46), rgba(45, 15, 255, 0.23) ),
  url('images/ori_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 56px;
  margin-top: 30px;
  margin-bottom: 7.5rem;
}


header div {
  background: 
  linear-gradient(
      0deg,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.8));
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: 'Poppins';
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%;
  color: white;
  width: 90%;
}


#jill{
  height: 350px;
  float: left;
  padding-left: 4%;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#apropos{
  display: inline-block;
  margin-bottom: 5%;
}

.texte1 {
  font-size: 26px;
  text-align: right;
  padding-left: 36%;
  padding-right: 5%;
}

#minimap{
  height: 90px;
}

#gateau{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20%;
  font-size: 25px;
}

.texte2{
  color: #9de7f9e7;
}

.carre2 {
  margin-top: 40px;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: var(--color-darkblue-alpha);
  background-image: url(images/dragonborn.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-position-y: top;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  border: 3px solid  rgb(255, 255, 255);
}


#games{
  margin-top:auto;
  font-size: 25px;
}

.affiche{
  width:170px;
  margin:10px;
}

.card {
  border: 1px solid #bac6d3;
  border-radius: 8px;
  padding: 1rem;
  text-align:center;
  margin-top: 20%;
}

.carousel-item:hover{
  box-shadow: 0 0 11px #090909;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 0;
  margin:40px;
  padding-bottom: 10px;
}

.carousel-item {
  margin-left:18px;
  scroll-snap-align: start;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
}


/**/

li{
  text-align: left;
  height: 60%;
}

li:hover {
 color: #a4e7f8;
  transition-duration: 0.5s;
}

label {
 
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.container {
  width: 75%;
  margin: 3.125rem auto 0 auto;
}


.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}



input::placeholder {
  color: #8fb5cd;
  opacity: 1;
}


.carre {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: var(--color-darkblue-alpha);
  background-image: url(images/dragonborn.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-position-y: top;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  border: 3px solid  rgb(255, 255, 255);
}


.carre:focus {
  border-color: #341161;
  outline: 0;
  box-shadow: 0 0 0 0.5rem rgba(0, 123, 255, 0.25);
}


.input-radio, .input-checkbox {
  display: inline-block;
  margin-right: 6px;
  min-height: 1.25rem;
  min-width: 1.25rem;
  margin-left: 10px;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.surprise{
  overflow: hidden;
}

button {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #212025;
  color: white;
  cursor: pointer;
  font-family: 'Poppins';
  position: relative;
  border: none;
  transition: 4s ease-in;
  z-index: 1;
  
}

.button::before, button::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.button::after{
  left: 0%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.8s;
  transform-origin: left;
  width: 0;
}

.button:hover::after{
  height: 100%;
  width: 108%;
  left: -33px;
  background-color: rgb(241, 241, 241);
}

a{
  color: rgb(163, 163, 163);
}

a:hover{
  color: rgb(27, 15, 15);
}


section{
  /* width: 80%; */
  /* height: max-content; */
  margin: auto;
  margin-top: 10px;
  text-align: center;

}

#title-comments {
  margin-top: 20px;
}

footer{
  margin-top: 5%;
  height: 100px;
  background-color: #090909;
}

.textefooter{
  padding-top: 40px;
}